[submodule "sel4cp"]
	path = sel4cp
	url = https://github.com/BreakawayConsulting/sel4cp.git
[submodule "seL4"]
	path = sel4
	url = https://github.com/BreakawayConsulting/seL4.git
[submodule "sDDF"]
	path = sddf
	url = https://github.com/lucypa/sDDF.git
[submodule "sel4cp-workshop"]
	path = sel4cp-workshop
	url = git@github.com:ptrk8/seL4cp-workshop.git
[submodule "sddf-mmc"]
	path = sddf-mmc
	url = git@github.com:ptrk8/sddf-mmc.git
[submodule "xavier-port-ivan"]
	path = xavier-port-ivan
	url = git@github.com:patrick-forks/xavier-port-ivan.git
[submodule "sel4cp-patrick"]
	path = sel4cp-patrick
	url = git@github.com:patrick-forks/sel4cp-patrick.git
[submodule "uboot-patrick"]
	path = uboot-patrick
	url = git@github.com:patrick-forks/uboot-patrick.git
[submodule "sddf-serial-rpi3b"]
	path = sddf-serial-rpi3b
	url = git@github.com:ptrk8/sddf-serial-rpi3b.git
[submodule "sddf-mmc-rpi3b"]
	path = sddf-mmc-rpi3b
	url = git@github.com:ptrk8/sddf-mmc-rpi3b.git
[submodule "uboot-rpi4b"]
	path = uboot-rpi4b
	url = git@github.com:patrick-forks/uboot-patrick.git
	branch = patrick
[submodule "uboot-rpi3b"]
	path = uboot-rpi3b
	url = git@github.com:patrick-forks/uboot-patrick.git
	branch = patrick
[submodule "uboot-rpi3bp"]
	path = uboot-rpi3bp
	url = git@github.com:patrick-forks/uboot-patrick.git
	branch = patrick
