[submodule "sel4cp"]
	path = sel4cp
	url = https://github.com/BreakawayConsulting/sel4cp.git
[submodule "seL4"]
	path = sel4
	url = https://github.com/BreakawayConsulting/seL4.git
[submodule "sDDF"]
	path = sddf
	url = https://github.com/lucypa/sDDF.git
[submodule "sel4cp-workshop"]
	path = sel4cp-workshop
	url = git@github.com:ptrk8/seL4cp-workshop.git
[submodule "sddf-mmc"]
	path = sddf-mmc
	url = git@github.com:ptrk8/sddf-mmc.git
